/* body {
  margin:0px; 
  padding:0px; 
  border:0px;
} */




embed {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }

 .row {
      display: inline-block;
      flex-wrap: wrap;
      padding: 0px 15px;
      min-height: 50%;
      max-width: 30%;
    }

#div1{
    background-color: aqua;
}